.map__room__by__location{
    padding-bottom: 50px;
    .box__map__title__1{
        padding: 20px 0px;
        h2{
            font-size: 20px;
            span{
                font-weight: bold;
            }
            .icon__building{
                padding-left: 10px;
                color: rgb(75, 129, 22);
            }
        }
    }
}